:root {
    --bg-white:  #FDFEFE;
    --bg-lightwhite: #F0F3F4;
    --bg-silver: #C0C0C0;
    --bg-black: #000000;
    --bg-bordo:rgb(102, 35, 35);
    --bg-red:  #922B21;
    --bg-pink:  #dc5eb8;
    --bg-lightrose: #E6B0AA;
    --bg-grimso:  #D98880;
    --bg-grimsom: #E6B0AA;
    --bg-green: #4d9628fb;
    --bg-yellow: #FDE600;
    --bg-blue: #3778D5;
    --bg-lightblue: #89cbdd;
    --bg-lightyellow: #fff200;
    --bg-golden: #ad9812;
    --bg-orange: rgb(255, 134, 13);
    --bg-lightorange:rgb(250, 173, 96);
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
    text-decoration: none;
    list-style-type: none;
}
@media (max-width: 992px){
    .navbar{
        gap: .5vw;
    }
    .navbar-list{
        position: absolute;
        top: 0vw;
        width: 55%;
        right: 2.5vw;
        left: 38vw;
        background: var(--bg-blacki);
        border: 2px solid var(--bg-black);
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
        padding: 5.4vw 3.5vw;
        gap: 1.5vw;
        z-index: 2;
        display: none;
        align-items: flex-end;
        text-align: end;
        flex-direction: column;
    }
    .navbar-list a{
        font-size: 2.5vw;
    }
    .menu-label{
        display: flex;
        cursor: pointer;
    }
    .menu-label img{
        max-width: 4vw;
        margin-right: 1.5vw;
    }
    #menu-toggle:checked + .navbar-list {
        display: flex;
    }
    #hero{
        margin-top: 15vw;
    }
    .hero-info{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap:3.5vw;
        padding-top: 5vw;
    }
    .hero-info h1{
        width: 90%;
        max-width: 60vw;
        overflow-wrap: break-word;
    }
    .hero-info p{
        width: 60%;
        max-width: 70vw;
    }
    .img-hero{
        display: none;
    }
    .log-in:hover{
        font-weight: 800;
        color: var(--bg-black);
        background: linear-gradient(to right, transparent, var(--bg-lightwhite));
        z-index: -1;
        box-shadow: inset 340px 0 0 0 var(--bg-white);
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        transition: all ease 1s;
        text-transform: uppercase;
    } 
    #info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3vw;
    }
    .info-events h2{
        text-align: center;
        width: 80%;
        flex-wrap: wrap;
    }
    .info-events p{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-wrap: break-word;
        
    }
    #discover{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center ;
        gap: 1.5vw;
        flex-direction: column;
    }
    .list-events{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        gap: 1.5vw;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 1.5vw;
    }
    .contact-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-wrap: break-word;
    }
    .contact-us{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 700px;
    }
    .direction{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        flex-wrap: wrap;
        width: 100%;
        max-width: 62.5vw;
        overflow-wrap: break-word;
    }
    .map-google{
        width: 80%;
        max-width: 600px;
    }
    footer{
        display: flex;
    }
    /* pag-log-in */
    #session{
        display: flex;
        margin: 0;
    }
    .log-in-session{
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .log-in-session p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2vw;
    }
    
    #log-in-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-hero{
        background: linear-gradient(to right, var(--bg-orange), var(--bg-black));
        color: var(--bg-silver);
        border-radius: 5px;
        font-size: 2vw;
        font-weight: 800;
        padding: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button-hero:hover{
        background: linear-gradient(to right, var(--bg-black), transparent);
        z-index: 1;
        box-shadow: inset 340px 0 0 0 var(--bg-black);
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        transition: all ease 1s;
        text-transform: uppercase;
    }
    .button-hero a{
        font-size: 2vw;
        font-weight: 800;
        color: var(--bg-silver);
    }
    .staff{
        font-size: 1.2vw;
        color: var(--bg-black);
        font-weight: 500;
        font-style: italic;
    }
    
    
    main{
        gap: 2vw;
    }
}

@media (max-width: 700px){
    header{
        display: flex;
        background: linear-gradient(to bottom, var(--bg-black), transparent);
        backdrop-filter: none;
        height: 15vw;
    }
    .navbar-logo {
        display: none;
    }
    .navbar:checked{
        background: var(--bg-blacki);

    }
    .navbar-list{
        position: absolute;
        top: 0vw;
        width: 55%;
        right: 2.5vw;
        left: 37vw;
        background: var(--bg-blacki);
        border: 2px solid var(--bg-black);
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
        padding: 4vw 3vw;
        gap: 2.5vw;
        z-index: 2;
        display: none;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
    }
    .navbar-list a{
        font-size: 3.5vw;
    }
    .menu-label{
        display: flex;
        cursor: pointer;
    }
    .menu-label img{
        max-width: 4vw;
        margin-right: 1.5vw;
    }
    #menu-toggle:checked + .navbar-list {
        display: flex;
    }
    #hero{
        margin-top: 15vw
    }
    .log-in:hover{
        font-weight: 800;
        color: var(--bg-black);
        background: linear-gradient(to right, transparent, var(--bg-lightwhite));
        z-index: -1;
        box-shadow: inset 340px 0 0 0 var(--bg-white);
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        transition: all ease 1s;
        text-transform: uppercase;
    } 
    .maps-google{
        display: none;
        max-width: 23vw;
    }
    #discover{
        padding: 3vw;
    }
    #contact{
        padding: 3vw;
    }
/* pag-log-in*/
    .log-in-session{
        display: flex;
        text-align: center;
    }
}
@media (max-width: 300px){
    header{
        margin-top: 0;
        padding: 3vw 1vw;
        display: flex;
        background: linear-gradient(to bottom, var(--bg-black), transparent 30%);
        backdrop-filter: none;
    }
    .navbar{
        margin: 0px 10px;
    }
    .navbar-logo {
        display: none;
    }
    .navbar-list{
        position: absolute;
        top: 0vw;
        width: 70%;
        right: .5vw;
        left: 18vw;
        background: var(--bg-blacki);
        border: 2px solid var(--bg-black);
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
        padding: 1.2vw 2vw;
        gap: .9vw;
        z-index: 2;
        display: none;
        align-items: flex-end;
        flex-direction: column;
    }
    .navbar-list a{
        font-size: 3.5vw;
    }
    .menu-label{
        display: flex;
        cursor: pointer;
    }
    .menu-label img{
        max-width: 4vw;
        margin-right: 1.5vw;
    }
    #menu-toggle:checked + .navbar-list {
        display: flex;
    }
    #hero{
        padding: 5vw;
    }
    .info-events-cards{
        display:none;
    }
    #discover{
        padding: 0;
    }
    .footer-about-us{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:2vw
    }
    .mail-footer{
        flex-direction: column;
    }
    .mail-text{
        gap:1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mail-text form {
        gap:2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .support{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    .footer-copyright{
        font-size: 2vw;
    }
/* pag-log-in */
    .log-in-session{
        font-size: 2.2vw;
    }
}
