@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Poppins:ital@1&family=Roboto+Condensed:ital@1&display=swap');
:root {
    --bg-white:  #fffffe;
    --bg-lightwhite: #F0F3F4;
    --bg-silver: #C0C0C0;
    --bg-gray:  #808080;
    --bg-lightgray: #808080b2;
    --bg-letter: #312F2F;
    --bg-blacki:#0f0f0f;
    --bg-black: #000000;
    --bg-bordo:rgb(102, 35, 35);
    --bg-red:  #922B21;
    --bg-pink:  #dc5eb8;
    --bg-lightrose: #E6B0AA;
    --bg-grimso:  #D98880;
    --bg-grimsom: #E6B0AA;
    --bg-green: #4d9628fb;
    --bg-yellow: #FDE600;
    --bg-blue: #0f0e17;
    --bg-lightblue: #262845;    
    --bg-lightyellow: #fff200;
    --bg-golden: #a75a02;
    --bg-orange: #ff8906;
    --bg-lightorange:rgb(250, 173, 96);
    --bg-purple: #a7a9be;
    --bg-violet: #2e2f3e;
    
    
}
* {
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    margin: 0px;
}
header {
    background: var(--bg-blue);
    backdrop-filter: blur(15px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 15vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 14px 0px 8px;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: visible;
}
.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
.navbar-logo span{
    color: var(--bg-white);
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo-galpon{
    max-width: 8.5vw;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
}

.navbar-list{
    margin-left: 0; 
    padding: 1.2vw 6vw 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 2vw;
}

.navbar-list a{
    color: var(--bg-white);
    font-size: 14px;
    font-weight: 500;
}
.log-in{
    background: linear-gradient(to right, transparent, var(--bg-orange));
    color: var(--bg-white);
    border-radius: 5px;
    padding: .6vw;
    display: block;
}
#menu-toggle , .menu-label{
    display: none;
}
.menu-label:checked{
    background: var(--bg-blue);
}
main{
    background: var(--bg-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
section{
    max-width: 100%;
}
#hero{
    margin-top: 9.3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column row;
}
.hero-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.hero-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    padding: 25px;
}
.hero-info h1{
    font-size: 80px;
    width: 100%;
    font-weight: 800;
    cursor: default;
    color: var(--bg-white);
    font-family: 'DM Serif Display', serif;
}
.hero-info p{
    font-size: 20px;
    font-weight: 900;
    color: var(--bg-purple);
    cursor: default;
    
}
.hero-info span > a{
    background: var(--bg-orange);
    color: var(--bg-white);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    padding: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 6vw 1.2vw;
    max-width: 50vw;
    width: 100%;
}
.log-in-hero{
    display: none;
}
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  10px 50px;
    width: 100%;
    background-color: var(--bg-lightwhite);
}
.info-events{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    gap: 3vw;
}
.info-events h2{
    color: var(--bg-blue);
    font-size: 50px;
    font-weight: 800;
    cursor: default;
}
.info-events p{
    color: var(--bg-blue);
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}
.info-events span {
    font-size: 30px;
    font-weight: 900;
    color: var(--bg-orange);
    cursor: default;
}
.info-events-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 90vw;
    flex-direction: row;

}
.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    background: var(--bg-blue);
    color: var(--bg-white);
    border-radius: 5px;
    border: solid 4px var(--bg-blue);
    cursor: default;
}
.info-card img{
    border-radius: 5px;
    max-width: 25vw;
    max-height: 37vh;
    width: 100%;
}
#discover{
    display: flex;
    justify-content: center;
    background: var(--bg-blue);
    width: 100%;
    flex-direction: column;
    padding: 10px 50px;
}
.discover-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.discover-text h2{
    font-size: 50px;
    font-weight: 900;
    color: var(--bg-white);
    cursor: default;
}
.discover-text p{
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-purple);
    cursor: default;
}
.discover-text p > strong{
    font-size: 18px;
    font-weight: 800;
    color: var(--bg-violet);
    background: var(--bg-purple);
    border-radius: 5px;
    padding: .3vw;
}
.list-events {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1.5vw;
}
.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    list-style: none;
    padding: 0 15px;
}
.event h2{
    font-size: 30px;
    font-weight: 800;
    color: var(--bg-purple);
    cursor: default;

}
.event li{
    font-size: 20px;
    font-weight: 500;
    gap: 1.4vw;
    color: var(--bg-purple);
    cursor: default;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: var(--bg-blue);
    width: 100%;
    padding: 10px 50px;
    flex-direction: row-reverse;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.contact-text-link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 43px;
}
.contact-text{
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-purple);
    cursor: default;

}
.contacts img{
    width: 3vw;
}
.icon-contact {
    display: flex;  
    align-items: flex-start;
    flex-direction: column;
    gap: .5vw;
}
.link-contact{
    background: linear-gradient(to left, var(--bg-black), transparent);
}

.icon-contact a {
    font-size: 18px;
    font-weight: 900;
    color: var(--bg-purple);
    display: flex;
    align-items: center;
    gap: 1vw;
    border-radius: 5px;
    padding: .3vw;

}
.contact-us {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: linear-gradient(to bottom, var(--bg-black), var(--bg-blue));
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    max-width: 100%;
}
.direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.direction h2{
    font-size: 30px;
    font-weight: 800;
    color: var(--bg-purple);
}
.direction p>strong{
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-purple);
}
.direction p{
    font-size: 18px;
    font-weight: 500;
    color: var(--bg-purple)
}

.map-google {
    width: 36vw;
    height: 30vh;
}
/* FOOTER */
footer {
    background: linear-gradient(to bottom, var(--bg-blue), var(--bg-lightblue));
    /* border-top: solid 1px var(--bg-letter); */
    border-bottom: solid 2px var(--bg-letter);
    color: var(--bg-silver);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5vw;  
    padding: 5vw 1.2vw 2vw;
    margin-bottom: 0px;
    width: 100%;
    flex-wrap: wrap;
} 
#footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    width: 100%;
    margin-bottom: 0;
}
.footer-about-us{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 3vw;
}
.mail-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2vw;
}
.mail-footer img{
    width: 110px;
    border-radius: 50%;
}
.mail-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.mail-text h3 {
    font-size: 20px;
    font-weight: 800;
}
.mail-text form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 18px;
}
.mail-text form >input{
    font-size: 16px;
    font-weight: 300;
}
.mail-text form > p{
    font-size: 14px;
    font-weight: 600;
}
.mail-text form > input{
    width: 30vw;
    height: 3vw;
}
.comunication{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.comunication h3{
    font-size: 16px;
    font-weight: 800;    
}
.comunication p{
    font-size: 14px;
    font-weight: 300;
}
.comunication span {
    font-size: 16px;
    font-weight: 300;
}
.footer-links {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    gap: .6vw;
}
.icons-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}
.footer-links li > a{
    font-size: 14px;
    font-weight: 300;
    color: var(--bg-silver);
}
.footer-links li > a > img{
    max-width: 10vw;
}
.support{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.support li > a{
    font-size: 14px;
    font-weight: 400;
}
.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.footer-copyright p,a {
    font-size: 12px;
    font-weight: 300;
    color: var(--bg-gray);
    margin: 0px;
    gap:8px;
}

/* #pag-log-in */
#session {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--bg-black), var(--bg-orange));
    width: 100%;
    margin-top: 9.3vw;
}
.log-in-session {
    display: flex;
    place-content: center;
    align-items: center;
    gap: 1vw;
    flex-direction: column;
    margin: 9vw;
    padding: 6vw 1vw;
    box-shadow:  7.5vw 2vw 25vw var(--bg-black);
    border-radius: 10px;
    background: transparent;
}
.icon-red {
    max-width: 1.5vw;
}
.log-in-google {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-silver);
    color: var(--bg-letter);
    gap: 1.5vw;
    padding: 1.5vw 2.5vw;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.log-in-apple {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--bg-silver);
    color: var(--bg-letter);
    gap: 1.5vw;
    padding: 1.5vw 2.5vw;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.mail-password {
    gap: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mail {
    background: transparent;
    color: var(--bg-purple);
    border-radius: 5px;
    border: solid 1px var(--bg-white);
    padding: 1.7vw 8.7vw;
    font-size: 16px;
    font-weight: 500;
}
.siguiente {
    font-size: 20px;
    font-weight: 300;
    color: var(--bg-black);
    justify-content: center;
    align-items: center;

}
.olv-psw {
    font-size: 14px;
    font-weight: 300;
    color: var(--bg-black);
    justify-content: center;
    align-items: center;
}
    
.olv-psw:hover {
text-decoration: underline;
}
